<div class="panel panel-default">
	<div class="panel-heading">
		Report Purchase Detail
	</div>
	<div class="panel-body">
		<table class="table table-bordered">
			<tr>
				<td>
					From Date:
				</td>
				<td>
					<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
						<input type="text" class="form-control" data-ng-model="from_date"/>
						<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">
				        		<i class="fa fa-calendar"></i>
				        	</button>
						</span>
				    </div>
				</td>
				<td>
					To Date:
				</td>
				<td>
					<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
						<input type="text" class="form-control" data-ng-model="to_date"/>
						<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">
				        		<i class="fa fa-calendar"></i>
				        	</button>
						</span>
				    </div>
				</td>
				<td width="300px">
					<ui-select
						ng-model="vendor_list.selected"
						theme="select2"
						data-ng-disabled="disabled"
						reset-search-input="false"
						style="width: 250px;"
					>
						<ui-select-match placeholder="Select or Search a Vendor in the list...">
							{{$select.selected.name}}
						</ui-select-match>
						<ui-select-choices
							repeat="vendor_list in vendors track by $index"
							refresh="refreshVendorList($select.search)"
							refresh-delay="0"
						>
							<div data-ng-bind-html="vendor_list.name | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
					<i class="fa fa-refresh" data-ng-click="vendor_list = {}"></i>
				</td>
				<td style="padding-top: 0px;">
					<button class="btn btn-success margin-top" data-ng-click="init();">
						<i class="fa fa-hourglass-half"></i>
						Filter
					</button>
					<button class="btn btn-default margin-top" data-ng-click="print();">
						<i class="fa fa-print"></i>
						Print
					</button>
				</td>
			</tr>
		</table>
		<div data-ng-if="purchase.count" id="print">
			<table width="100%">
				<tr>
					<td align="center">
						<img src="images/IMI.jpg" width="350px"/>
						<h4>
							Purchase Detail Report
						</h4>
						From Date: {{from_date}} To Date: {{to_date}}
					</td>
				</tr>
			</table>
			<table width="100%">
				<tr data-ng-repeat="p in purchase.elements">
					<td>
						<table class="table-print">
							<tr rowspan="2">
								<td rowspan="2" style="background-color: #26a69a;">
									{{$index + 1}}
								</td>
								<td style="background-color: #26a69a;;">
									<b>
										Purchase Ref:
									</b>
									<span data-ng-bind="p.reff_no"></span>,
									<b>
										Date:
									</b>
									<span data-ng-bind="p.purchase_date"></span>,
									<b>
										Vendor Name:
									</b>
									<span data-ng-bind="p.supplier_name"></span>

								</td>
							</tr>
							<tr>
								<td colspan="2" style="padding: 0px;">
									<table width="100%">
										<tr style="background-color: #26a69a;">
											<th width="5%">
												No
											</th>
											<th width="30%">
												Item
											</th>
											<th width="20%">
												Barcode
											</th>
											<th width="15%">
												Qty
											</th>
											<th width="15%">
												Price
											</th>
											<th width="15%">
												Total
											</th>
										</tr>
										<tr data-ng-repeat="item in p.detail">
											<td>
												{{$index +1}}
											</td>
											<td>
												{{item.product_name}}
											</td>
											<td>
												{{item.barcode}}
											</td>
											<td>
												{{item.qty}}
											</td>
											<td>
												{{item.unit_price | currency}}
											</td>
											<td>
												{{item.total | currency}}
											</td>
										</tr>
										<tr>
											<td colspan="5" align="right">
												<b>Sub Total:</b>
											</td>
											<td>
												<b>{{p.total | currency}}</b>
											</td>
										</tr>
										<tr data-ng-hide="true">
											<td colspan="4" align="right">
												<b>Payment:</b>
											</td>
											<td>
												<b>{{p.payment | currency}}</b>
											</td>
										</tr>
										<tr data-ng-hide="true">
											<td colspan="4" align="right">
												<b>Balance:</b>
											</td>
											<td>
												<b>{{p.remain | currency}}</b>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div
			data-ng-if="purchase.count == 0"
		>
			<div class="alert alert-warning alert-dismissible">
				<strong>Warning!</strong> No Report.
			</div>
		</div>
		<div
			data-ng-if="!loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
