<form data-ng-submit="save();" name="myForm">
	<div
			class="modal fade"
			id="doctor-expense-popup"
			data-keyboard="false"
			data-backdrop="static"
			>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button
							type="button"
							class="close"
							data-dismiss="modal"
							data-ng-click="clear();"
							>
						<span>&times;</span>
					</button>
					<h4>
						<label>Doctor Expense</label>
					</h4>
				</div>
				<div class="modal-body">
					<div class="tab-content">
						<table class="table table-bordered">
							<tr>
								<td>
									Doctor:
								</td>
								<td>
									<ui-select
										ng-model="doctor_list.selected"
										theme="select2"
										data-ng-disabled="disabled"
										reset-search-input="false"
										data-ng-init=""
										style="width: 100%;"
									>
										<ui-select-match placeholder="Select or Search a Doctor in the list...">
											{{$select.selected.name}}
										</ui-select-match>
										<ui-select-choices
											repeat="doctor_list in doctors track by $index"
											refresh="refreshDoctorList($select.search)"
											refresh-delay="0"
										>
											<div data-ng-bind-html="doctor_list.name | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</td>
							</tr>
							<tr>
								<td>
									Patient:
								</td>
								<td>
									<ui-select
										ng-model="customer_list.selected"
										theme="select2"
										data-ng-disabled="disabled"
										reset-search-input="false"
										style="width: 100%;"
									>
										<ui-select-match placeholder="Select or Search a Customer in the list...">
											{{$select.selected.full_name}}
										</ui-select-match>
										<ui-select-choices
											repeat="customer_list in customers track by $index"
											refresh="refreshCustomerList($select.search)"
											refresh-delay="0"
										>
											<div data-ng-bind-html="customer_list.full_name | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</td>
							</tr>
							<tr>
								<td>
									Date:
								</td>
								<td>
									<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
										<input type="text" class="form-control" data-ng-model="date"/>
										<span class="input-group-btn">
								        	<button class="btn btn-default" type="button">
								        		<i class="fa fa-calendar"></i>
								        	</button>
										</span>
								    </div>
								</td>
							</tr>
							<tr>
								<td>
									Invoice no:
								</td>
								<td>
									<input
										type="text"
										class="form-control"
										data-ng-model="invoice_no"
									/>
								</td>
							</tr>
							<tr>
								<td>
									Labo:
								</td>
								<td>
									<input
										type="text"
										class="form-control"
										data-ng-model="labo"
									/>
								</td>
							</tr>
							<tr>
								<td>
									Qty:
								</td>
								<td>
									<input
										type="text"
										class="form-control"
										data-ng-model="qty"
										only-numbers
									/>
								</td>
							</tr>
							<tr>
								<td>
									Price:
								</td>
								<td>
									<input
										type="text"
										class="form-control"
										data-ng-model="price"
									/>
								</td>
							</tr>
							<tr>
								<td>
									Amount:
								</td>
								<td>
									<input
										type="text"
										class="form-control"
										data-ng-model="amount"
										data-ng-value="{{ amount = qty * price}}"
										readonly
									/>
								</td>
							</tr>
							<tr>
								<td>
									Description:
								</td>
								<td>
									<textarea
										class="form-control"
										data-ng-model="description"
									></textarea>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button
						class="btn btn-default"
						data-dismiss="modal"
						data-ng-click="clear();"
					>
						Close
					</button>
					<button
							class="btn btn-primary"
							data-ng-disabled="!disable"
							>
						Save
					</button>
				</div>
			</div>
		</div>
	</div>
</form>


