<div class="panel panel-default">
    <div class="panel-heading">
        <b>Products List</b>
    </div>
    <div class="panel-body">
        <button
            class="btn btn-default"
            data-toggle="modal"
            data-target="#products-list-popup"
        >
            <span class="fa fa-plus-circle"></span>
            Add New
        </button>
        Total record: {{totalItems}}
        <br/>
        <table class="table table-bordered">
            <tr>
                <td>
                    <input type="text" class="form-control" data-ng-model="search_id" placeholder="Search By Id ..."/>
                </td>
                <td>
                    <input type="text" class="form-control" data-ng-model="search_name" placeholder="Search By Name ..."/>
                </td>
                <td>
                    <button class="btn btn-primary" data-ng-click="search();">Search</button>
                </td>
            </tr>
        </table>
        <table class="table table-bordered table-striped">
            <thead>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Barcode
            </th>
            <th>
                Price In
            </th>
            <th>
                Price Out
            </th>
            <th>
                Qty
            </th>
            <th>
                Detail
            </th>
            <th width="150px">
                Action
            </th>
            </thead>
            <tr data-ng-repeat="product_list in productsList.elements">
                <td>
                    <span data-ng-bind="product_list.id"></span>
                </td>
                <td>
                    <span data-ng-bind="product_list.products_name"></span>
                </td>
                <td>
                    <span data-ng-bind="product_list.products_type_fields[0].name"></span>
                </td>
                <td>
                    <span data-ng-bind="product_list.barcode"></span>
                </td>
                <td>
                    <span data-ng-bind="product_list.products_price_in | currency"></span>
                </td>
                <td>
                    <span data-ng-bind="product_list.products_price_out | currency"></span>
                </td>
                <td>
                    <span data-ng-bind="product_list.products_quantity"></span>
                </td>
                <td>
                    <span data-ng-bind="product_list.products_description"></span>
                </td>
                <td>
                    <button class="btn btn-default" data-ng-click="edit(product_list);">
                        <span class="fa fa-edit"></span>
                    </button>
                    <button
                        class="btn btn-danger"
                        data-ng-hide="true"
                        data-ng-click="remove(product_list.id, $index);"
                    >
                        <span class="fa fa-close"></span>
                    </button>
                    <button
                        class="btn btn-success"
                        data-ng-click="updateStatus(product_list);"
                        data-ng-if="product_list.status == 1"
                    >
                        <span class="fa fa-check-square-o"></span>
                    </button>
                    <button
                        class="btn btn-warning"
                        data-ng-if="product_list.status == 0"
                        data-ng-click="updateStatus(product_list);"
                    >
                        <span class="fa fa-minus-square-o"></span>
                    </button>
                </td>
            </tr>
        </table>
        <div
            data-ng-if="productsList.elements == 0"
        >
            <div class="alert alert-warning alert-dismissible">
                <strong>Warning!</strong> No Customer.
            </div>
        </div>
        <div
            data-ng-if="!productsList"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
</div>
<div
    class="panel-footer"
    data-ng-show="totalItems > 10"
>
<pagination
    total-items="totalItems"
    ng-model="currentPage"
    ng-change="pageChanged()"
    max-size="5"
    items-per-page="10"
    boundary-links="true"
></pagination>
</div>
<products:list:popup></products:list:popup>