<form data-ng-submit="save();" name="myForm">
<div
	class="modal fade"
	id="customer-list-popup"
	data-keyboard="false"
	data-backdrop="static"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					data-ng-click="close();"
				>
					<span>&times;</span>
				</button>
				<h4>
					<label>Customer List</label>
				</h4>
	      	</div>
			<div class="modal-body">
				<div class="tab-content">
					<table class="table table-bordered">
						<tr>
							<td>
								Customer Type:
							</td>
							<td>
								<select
									data-ng-model="customer_type_id"
									data-ng-options="customer_type.id as customer_type.name for customer_type in customerType.elements"
									data-ng-init="customer_type_id == customer_type.id"
									class="form-control"
									required
								>
									<option value="">--Select--</option>
								</select>
							</td>
						</tr>
						<tr data-ng-hide="true">
							<td>
								Doctor Name:
							</td>
							<td>
								<select
									data-ng-model="doctor_id"
									data-ng-options="doctor.id as doctor.name for doctor in doctors.elements"
									data-ng-init="doctor_id == doctor.id"
									class="form-control"
								>
									<option value="">--Select--</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								Full Name:
							</td>
							<td>
								<input
									type="text"
									class="form-control"
									data-ng-model="full_name"
									required="required"
								/>
							</td>
						</tr>
						<tr>
							<td>
								Sex:
							</td>
							<td>
								<select
									class="form-control"
									required
									data-ng-options="gender for gender in ['Male', 'Female']"
									data-ng-init="sex == gender"
									data-ng-model="sex"
								>
									<option value="">--Select--</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								Dob:
							</td>
							<td>
								<div cambodia-date-picker date-format="y/MM/dd" class="input-group">
									<input type="text" class="form-control" data-ng-model="dob"/>
									<span class="input-group-btn">
							        	<button class="btn btn-default" type="button">
							        		<i class="fa fa-calendar"></i>
							        	</button>
									</span>
							    </div>
							</td>
						</tr>
						<tr>
							<td>
								Barcode:
							</td>
							<td>
								<input type="text" class="form-control" data-ng-model="barcode"/>
							</td>
						</tr>
						<tr>
							<td>
								Country:
							</td>
							<td>
								<select
									data-ng-model="country"
									data-ng-options="country.countries_name as country.countries_name for country in countries.elements"
									class="form-control"
								>
									<option value="">--Select--</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								Email:
							</td>
							<td>
								<input
									type="email"
									class="form-control"
									data-ng-model="email"
								/>
							</td>
						</tr>
						<tr>
							<td>
								Phone:
							</td>
							<td>
								<input
									type="text"
									class="form-control"
									data-ng-model="tel"
									only-numbers
								/>
							</td>
						</tr>
						<tr>
							<td>
								Family Phone:
							</td>
							<td>
								<input
									type="text"
									class="form-control"
									data-ng-model="relative_contact"
								/>
							</td>
						</tr>
						<tr>
							<td>
								Relative Phone:
							</td>
							<td>
								<input
									type="text"
									class="form-control"
									data-ng-model="relative_tel"
								/>
							</td>
						</tr>
						<tr>
							<td>
								Address:
							</td>
							<td>
								<textarea
									class="form-control"
									data-ng-model="address"
								></textarea>
							</td>
						</tr>
						<tr>
							<td>
								Note:
							</td>
							<td>
								<textarea
									class="form-control"
									data-ng-model="detail"
								></textarea>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button
					class="btn btn-default"
					data-dismiss="modal"
					data-ng-click="close();"
				>
					Close
				</button>
				<button
					class="btn btn-primary"
					data-ng-disabled="!disable"
				>
					Save
				</button>
			</div>
		</div>
	</div>
</div>
</form>


