<div class="panel panel-default">
	<div class="panel-heading">
		Stock Out Detail Report
 	</div>
	<div class="panel-body">
		<table class="table table-bordered">
			<tr>
				<td>
					From Date:
				</td>
				<td>
					<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
						<input type="text" class="form-control" data-ng-model="from_date"/>
						<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">
				        		<i class="fa fa-calendar"></i>
				        	</button>
						</span>
				    </div>
				</td>
				<td>
					To Date:
				</td>
				<td>
					<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
						<input type="text" class="form-control" data-ng-model="to_date"/>
						<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">
				        		<i class="fa fa-calendar"></i>
				        	</button>
						</span>
				    </div>
				</td>
				<td style="padding-top: 0px;">
					<button class="btn btn-success margin-top" data-ng-click="init();">
						<i class="fa fa-hourglass-half"></i>
						Filter
					</button>
					<button class="btn btn-default margin-top" data-ng-click="print();">
						<i class="fa fa-print"></i>
						Print
					</button>
				</td>
			</tr>
		</table>
		<div data-ng-if="stockOut.count" id="print">
			<table width="100%">
				<tr>
					<td align="center">
						<img src="images/IMI.jpg" width="350px"/>
						<h4>
							Sale Report
						</h4>
						From Date: {{from_date}} To Date: {{to_date}}
					</td>
				</tr>
			</table>
			<table class="table table-bordered">
				<tr data-ng-repeat="p in stockOut.elements">
					<td>
						<table class="table table-bordered">
							<tr rowspan="2">
								<td rowspan="2" style="background-color: #F7F7F7;">
									{{$index + 1}}
								</td>
								<td style="background-color: #F7F7F7;">
									<b>
										Request By:
										<span data-ng-bind="p.request_by_name"></span>,
										Approve By:
										<span data-ng-bind="p.approve_by_name"></span>,
										Date:
										<span data-ng-bind="p.purchase_date"></span>,
										Delivery To:
										<span data-ng-bind="p.delivery_to"></span>
									</b>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="padding: 0px;">
									<table class="table table-bordered">
										<tr style="background-color: #F7F7F7;">
											<th>
												No
											</th>
											<th>
												Item
											</th>
											<th>
												Qty
											</th>
											<th>
												Price
											</th>
											<th>
												Total
											</th>
										</tr>
										<tr data-ng-repeat="item in p.detail">
											<td>
												{{$index +1}}
											</td>
											<td>
												{{item.product_name}}
											</td>
											<td>
												{{item.qty}}
											</td>
											<td>
												{{item.unit_price | currency}}
											</td>
											<td>
												{{item.total | currency}}
											</td>
										</tr>
										<tr>
											<td colspan="4" align="right">
												<b>Sub Total:</b>
											</td>
											<td>
												<b>{{p.grand_total | currency}}</b>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div
			data-ng-if="stockOut.count == 0"
		>
			<div class="alert alert-warning alert-dismissible">
				<strong>Warning!</strong> No Report.
			</div>
		</div>
		<div
			data-ng-if="!loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
