<div class="panel panel-default">
	<div class="panel-heading">
		Payment
	</div>
	<div class="panel-body">
		<table width="50%">	
			<tr>
				<td width="90px">
					<button 
						class="btn btn-success" 
						data-ng-disabled="!disable" 
						data-ng-click="save();"
					>
						<i class="glyphicon glyphicon-floppy-saved"></i>
						Save
					</button>
				</td>
				<td width="100px">
					Payment No:
				</td>
				<td>
					<input 
						type="text" 
						class="form-control" 
						data-ng-model="reference_no" 
						placeholder="Input PaymentNo"
					/>
				</td>
			</tr>	
		</table>
		</div>
		<table class="table table-bordered">
			<tr>
				<td>
					Purchase No:
				</td>
				<td>
					<input
						class="form-control"
						type="text"
						data-ng-model="purchase_no"
						placeholder="Input Purchase No For Search ..."
						data-ng-keypress="($event.which === 13) ? search() : 0"
					/>
				</td>
				<td>
					Vendor:
				</td>
				<td width="300px">
					<ui-select
						ng-model="vendor_list.selected"
						theme="select2"
						data-ng-disabled="disabled"
						reset-search-input="false"
						data-ng-change="getVendor(vendor_list.selected);"
						style="width: 260px;"
					>
						<ui-select-match placeholder="Select or Search a Vendor in the list...">
							{{$select.selected.name}}
						</ui-select-match>
						<ui-select-choices
							repeat="vendor_list in vendors track by $index"
							refresh="refreshVendorList($select.search)"
							refresh-delay="0"
						>
							<div data-ng-bind-html="vendor_list.name | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
					<i class="fa fa-refresh" data-ng-click="vendor_list = {}"></i>
				</td>
				<td>
					Date:
				</td>
				<td>
					<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
						<input type="text" class="form-control" data-ng-model="date"/>
						<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">
				        		<i class="fa fa-calendar"></i>
				        	</button>
						</span>
				    </div>
				</td>
			</tr>
			<tr>
				<td>
					Note:
				</td>
				<td width="300px" colspan="6">
					<textarea
						data-ng-model="note"
						class="form-control"
						rows="4"
						placeholder="Note ..."
					>
					</textarea>
				</td>
			</tr>
		</table>
		<div class="scroll">
			<table class="table table-bordered table-striped">
				<tr>
					<th>
						No
					</th>
					<th>
						Purchase No
					</th>
					<th>
						Vendor Name
					</th>
					<th>
						Total Amount
					</th>
					<th>
						Paid
					</th>
					<th>
						Balance
					</th>
					<th>
						Payment Amount
					</th>
					<th>
						Last Balance
					</th>
				</tr>
				<tr data-ng-repeat="p in purchase.elements">
					<td>
						{{$index + 1}}
					</td>
					<td>
						{{p.reff_no}}
					</td>
					<td>
						{{p.supplier_name}}
					</td>
					<td>
						{{p.total | currency}}
					</td>
					<td>
						{{p.payment | currency}}
					</td>
					<td>
						{{p.remain | currency}}
					</td>
					<td>
						<input
							type="text"
							placeholder="0.00"
							only-numbers
							class="form-control"
							data-ng-model="p.payment_next"
							data-ng-change="calculatePayAmount(p.id);"
						/>
					</td>
					<td>
						<span
							data-ng-hide="p.remain - p.payment_next <= 0"
							data-ng-bind="p.remain - p.payment_next | currency"
						></span>
						<span
							data-ng-hide="p.remain - p.payment_next > 0"
						>
							$0.00
						</span>
					</td>
				</tr>
			</table>
			<div
				data-ng-if="purchase.elements == 0"
			>
				<div class="alert alert-warning alert-dismissible">
					<strong>Warning!</strong> No Purchase Payment.
				</div>
			</div>
			<div
				data-ng-if="loading"
				class="align_center"
			>
				<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
			</div>
		</div>
		<table class="table table-bordered">
			<tr valign="right">
				<td align="right" width="80%">
					Total Balance:
				</td>
				<td>
					<span
						data-ng-bind="total_balance | currency">
					</span>
				</td>
			</tr>
			<tr valign="right">
				<td align="right">
					Total Payment Amount:
				</td>
				<td>
					<span
						data-ng-bind="total_payment_amount | currency">
					</span>
				</td>
			</tr>
			<tr valign="right" data-ng-hide="true">
				<td align="right" rowspan="2">
					Discount:
				</td>
				<td>
					Dollar($)
					<input
						type="checkbox"
						data-ng-change="checkTypeDiscount('dollar');"
						data-ng-model="dollar"
						value="dollar"
					/>
					Percent(%)
					<input
						type="checkbox"
						data-ng-change="checkTypeDiscount('percent');"
						data-ng-model="percent"
						value="percent"
					/>
				</td>
			</tr>
			<tr valign="right" data-ng-hide="true">
				<td>
					<input
						class="form-control"
						data-ng-change="inputDiscount();"
						data-ng-disabled="!inputDiscountAmount"
						data-ng-model="discount"
						only-numbers
						placeholder="Discount ..."
					/>
				</td>
			</tr>
			<tr valign="right" data-ng-hide="true">
				<td align="right">
					Total Discount:
				</td>
				<td>
					<span data-ng-bind="total_discount | currency"></span>
				</td>
			</tr>
			<tr valign="right">
				<td align="right">
					Grand Total:
				</td>
				<td>
					<span
						data-ng-hide="grand_total <= 0"
						data-ng-bind="grand_total | currency"
					></span>
					<span
						data-ng-hide="grand_total > 0"
					>
						$0.00
					</span>
				</td>
			</tr>
			<tr valign="right">
				<td align="right">
					Payment Method:
				</td>
				<td>
					<select
						class="form-control"
						data-ng-options="payment_method for payment_method in ['Cash', 'ACLIDA', 'PCB']"
						data-ng-init="payment_method == payment_method"
						data-ng-model="payment_method"
					>
						<option value="">--Select--</option>
					</select>
				</td>
			</tr>
			<tr>
				<td align="right">
					Total Last Balance:
				</td>
				<td>
					<span
						data-ng-hide="total_last_balance <= 0"
						data-ng-bind="total_last_balance | currency"
					></span>
					<span
						data-ng-hide="total_last_balance > 0"
					>
						$0.00
					</span>
				</td>
			</tr>
		</table>
	</div>
</div>
<purchase-pop-up></purchase-pop-up>
<style>
.scroll{
	height:300px;
	width:100%;
	overflow:hidden;
	overflow-y:scroll;
}
</style>