<div class="panel panel-default">
    <div class="panel-heading">
        <b>Doctor Expense</b>
    </div>
    <div class="panel-body">
        <button
            class="btn btn-default"
            data-toggle="modal"
            data-target="#doctor-expense-popup"
        >
            <span class="fa fa-plus-circle"></span>
            Add New
        </button>
        Total record: {{totalItems}}
        <br/>
        <table class="table table-bordered">
            <tr>
                <td>
                    <input type="text" class="form-control" data-ng-model="search_id" placeholder="Search By Id ..."/>
                </td>
                <td>
                    <input type="text" class="form-control" data-ng-model="search_name" placeholder="Search By Invoice..."/>
                </td>
                <td>
                    <button class="btn btn-primary" data-ng-click="search();">Search</button>
                </td>
            </tr>
        </table>
        <table class="table table-bordered table-striped">
            <thead>
            <th>
                Expense Date
            </th>
            <th>
                Invoice No
            </th>
            <th>
                Doctor Name
            </th>
            <th>
                Patient Name
            </th>
            <th>
                Description
            </th>
            <th>
                Qty
            </th>
            <th>
                Price
            </th>
            <th>
                Amount
            </th>
            <th width="150px">
                Action
            </th>
            </thead>
            <tr data-ng-repeat="doctor in doctorExpense.elements">
                <td>
                    <span data-ng-bind="doctor.expense_date"></span>
                </td>
                <td>
                    <span data-ng-bind="doctor.invoice_no"></span>
                </td>
                <td>
                    <span data-ng-bind="doctor.doctor_detail[0].name"></span>
                </td>
                <td>
                    <span data-ng-bind="doctor.customer_detail[0].full_name"></span>
                </td>
                <td>
                    <span data-ng-bind="doctor.description"></span>
                </td>
                <td>
                    <span data-ng-bind="doctor.qty"></span>
                </td>
                <td>
                    <span data-ng-bind="doctor.price | currency"></span>
                </td>
                <td>
                    <span data-ng-bind="doctor.amount | currency"></span>
                </td>
                <td>
                    <button class="btn btn-default" data-ng-click="edit(doctor);">
                        <span class="fa fa-edit"></span>
                    </button>
                    <button
                        class="btn btn-success"
                        data-ng-click="updateStatus(doctor);"
                        data-ng-if="doctor.status == 1"
                    >
                        <span class="fa fa-check-square-o"></span>
                    </button>
                    <button
                        class="btn btn-warning"
                        data-ng-if="doctor.status == 0"
                        data-ng-click="updateStatus(doctor);"
                    >
                        <span class="fa fa-minus-square-o"></span>
                    </button>
                </td>
            </tr>
        </table>
        <div
            data-ng-if="doctorExpense.elements == 0"
        >
            <div class="alert alert-warning alert-dismissible">
                <strong>Warning!</strong> No Expense.
            </div>
        </div>
        <div
            data-ng-if="!doctorExpense"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
</div>
<div
    class="panel-footer"
    data-ng-show="totalItems > 10"
>
<pagination
    total-items="totalItems"
    ng-model="currentPage"
    ng-change="pageChanged()"
    max-size="5"
    items-per-page="10"
    boundary-links="true"
></pagination>
</div>
<doctor:expense:popup></doctor:list:popup>